name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  biome:
    name: Biome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install --frozen-lockfile

      - run: bun biome ci .
